<header>
    <nav>
        <h1 class="logo">VPCI School Services</h1>
        <ul>
            <li><router-link :to="{ name: 'home' }">Home</router-link></li>
            <li><router-link :to="{ name: 'clubs' }">Clubs</router-link></li>
            <li><router-link :to="{ name: 'about' }">About</router-link></li>
        </ul>
        <!-- /account will redirect to /sign-in if there is no auth token -->
        <div class="right-align" style="margin-right: 5rem;"><router-link class="fa-solid fa-user account-icon" :to="{ name: 'account' }"></router-link></div>
    </nav>
</header>