/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Extended&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower:wght@100;200;300;400;500;1000&display=swap');
/* Variables!! */
:root {
    --white: #fff;
    --lightGrey: #f2f2f2;
    --darkGrey: #ccc;
    --black: #000;

    --primary: #B71D2C;
    --secondary: #F4D35E;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
    margin: 0;
/*    font-family: 'Open Sans', sans-serif;*/
/*    font-family: 'Montserrat', sans-serif;*/
    font-family: 'Lato', sans-serif;
/*    font-family: 'Roboto', sans-serif;*/
/*    font-family: 'Libre Barcode 39 Extended', cursive;*/
    font-size: 1.6rem;
}

html {
    font-size: 62.5%;
}

section {
    margin: 120px auto 0; /* Change later ;-; */
    width: 1280px;
}

h1 {
    margin: 0;
}

.right-align {
    margin-left: auto !important;
}