.card {
    width: 180px;
    min-height: 220px;
    background: var(--gray);
    border-radius: 15px;
    padding: 15px;
    text-decoration: none;
    color: inherit;
}

.card:hover {
    animation: gradient linear 1s infinite;
}

@keyframes gradient {
    0% {
        color: red;
    }
    25% {
        color: yellow;
    }
    50% {
        color: green;
    }
    75% {
        color: blue;
    }
    100% {
        color: red;
    }
}

.card h3 {

}