.toilet {
    border: 3px solid black;
    background-color: white;
    position: absolute;
    transition: background-color 100ms ease-out,
                border-color 100ms ease-out;

}

.toilet:hover {
/*    transform: scale(1.1);*/
    background-color: lightblue;
    border-color: lightblue;
}

.toilet > div {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    top: -40px;
    left: -38%;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    width: 85px;
}

.toilet:hover > div {
    visibility: visible;
    animation: 200ms 1 normal slideup;
    animation-timing-function: cubic-bezier(.08,.82,.17,1);
}

@keyframes slideup {
  from {
    top: -30px;
    opacity: 0;
  }

  to {
    top: -40px;
    opacity: 100%;
  }
}

.status {
    text-transform: uppercase;
    letter-spacing: 0.05em;
}
