.club-details-container {
    display: flex;
    justify-content: center;
}

.club-details-container > div {
    max-width: 800px;
}

.club-details-header {
    display: flex;
    align-items: center;
}

.club-details-header > h2 {
    border-bottom: 2px solid black;
    width: auto;
    margin-left: 20px;
    flex: 1;
    font-size: 30px;
}

.club-logo {
/*    border: 6px solid var(--white);*/
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100px;
}