<div style="background-color: var(--primary); height: 50rem; width:100%; position: fixed;"></div>
<div style="position: absolute; width: 100%; left: auto;">
    <div v-if="club" class="club-details-container">
        <div style="display: flex; flex-direction: column; align-items: center; height:100vh;">
            <div class="club-details-header" style="flex-shrink: 0;">
                <img :src=club.logoLink class="club-logo">
                <h2>{{club.name}}</h2>
            </div>
            <div class="club-basic-info-container">
                <div id="desktop">
                    <div class="upper-container">
                        <div class="vertical-list">
                            Executives
                            <ul>
                                <li v-for="leader in club.leaders">{{leader}}</li>
                            </ul>
                        </div>
                        <div>
                            <div>{{club.description}}</div>
                            <div class="schedule">Schedule - {{club.schedule}}</div>
                            <!-- <div class="schedule">Schedule - {{club.meetDays}} - {{club.meetTime}}</div> -->
                            <div class="horizontal-list">
                                <div>Supervised by</div>
                                <ul>
                                    <li v-for="supervisor in club.supervisors">{{supervisor}}</li>
                                </ul>
                            </div>
                            <button class="join">Join</button>
                        </div>
                    </div>
                    <div class="horizontal-list">
                        <div>Social Media(s)</div>
                        <ul>
                            <li v-for="social in club.social">{{social}}</li>
                        </ul>
                    </div>
                </div>
                <div id="mobile">
                    <div>{{club.description}}</div>
                    <div class="schedule">Schedule - {{club.schedule}}</div>
                    <div class="vertical-list">
                        Executives
                        <ul>
                            <li v-for="leader in club.leaders">{{leader}}</li>
                        </ul>
                    </div>
                    <div class="vertical-list">
                        <div>Supervised by</div>
                        <ul>
                            <li v-for="supervisor in club.supervisors">{{supervisor}}</li>
                        </ul>
                    </div>
                    <div class="vertical-list">
                        <div>Social Media(s)</div>
                        <ul>
                            <li v-for="social in club.social">{{social}}</li>
                        </ul>
                    </div>
                    <button class="join">Join</button>
                </div>
                <div>
                    <h3>Posts</h3>
                    <!-- {{posts}} -->
                    <div class="post-event-container">
                        <post v-for="post in posts" :post="post" :clubName="club.name"></post>
                    </div>
                </div>
                <div>
                    <h3>Events</h3>
                    <!-- <div class="post-event-container">
                        <event v-for="event in events" :event="event"></event>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
