<div style="background-color: var(--primary); height:32em; width:100%; position: fixed;"></div>
<div style="position: absolute; width: 100%; left: auto;">
    <div v-if="club" class="club-details-container">
        <div style="display: flex; flex-direction: column; height:100vh;">
            <div class="club-details-header" style="flex-shrink: 0;">
                <img :src=club.logo class="club-logo">
                <h2>{{club.name}}</h2>
            </div>
            <div class="club-basic-info-container" style="flex-grow: 1;">
                <div class="info-list">
                    <div>Supervisor(s)</div>
                    <ul>
                        <li v-for="supervisor in club.supervisors">{{supervisor}}</li>
                    </ul>
                </div>
                <div style="display: flex;">
                    <div class="leaders">
                        Leaders
                        <ul>
                            <li v-for="leader in club.leaders">{{leader}}</li>
                        </ul>
                    </div>
                    <div style="padding-left: 5px;">
                        <div class="schedule">Schedule - {{club.schedule}}</div>
                        <button class="join">Join</button>
                    </div>
                </div>
                <div class="info-list">
                    <div>Social Media(s)</div>
                    <ul>
                        <li v-for="social in club.social">{{social}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
