<h2>{{title}}</h2>
<br><br><br>
<form @submit.prevent="submit">
    <div>
        <label>Name</label>
        <input type="text" autocomplete="off" placeholder="name" v-model="club.name">
    </div>
    <div>
        <label>URL Slug</label>
        <input type="text" autocomplete="off" placeholder="name" v-model="club.slug">
    </div>
    <div>
        <label>Image Link</label>
        <input type="url" autocomplete="off" placeholder="www.example.com" v-model="club.logoLink">
    </div>
    <div>
        <label>Description</label>
        <input type="text" autocomplete="off" placeholder="description" v-model="club.description">
    </div>
    <div>
        <label>Schedule</label>
        <select v-model="club.meetDays" multiple>
            <option v-for="day in daysOfWeek" value="day">{{day}}</option>
        </select>
        <input type="time" v-model="club.meetTime" min="07:00" max="20:00" />
    </div>
    <array-input
        :array="club.executives"
        :title="'Executive(s)'"
        :placeholder="'Exec name'" />
    <array-input
        :array="club.supervisors"
        :title="'Supervisor(s)'"
        :placeholder="'Supervisor name'" />
    <array-input
        :array="club.socialMedias"
        :title="'Social Media(s)'"
        :placeholder="'Social media username'" />
    <button type="submit">Submit</button>
    {{club}}

<!--     <div>
        <label>Join Link</label>
        <input type="url" autocomplete="off" placeholder="www.example.com" v-model="joinLink">
    </div> -->
</form>

<h3>Posts</h3>
{{posts}}
<br>
<button @click="displayAddPostButton = false" v-if="displayAddPostButton" >New Post</button>
<update-post v-if="!displayAddPostButton"
    :isNewPost="true"
    :clubId="club.id"
    :post="{}"
    :getPosts="getPosts"></update-post>

<div v-for="post in posts">
    <post-container
        :post="post"
        :clubName="club.name"
        :clubId="club.id"
        :getPosts="getPosts"></post-container>
</div>

<br>
<button v-if="this.$route.name === 'editClub'" @click="deleteClub">Delete Club</button>
